{% extends 'base.html' %}
{% block body %}


    <div class="container my-3">
        <h2>Add a Blog {{username}} </h2>
        <form action="/dashboard/{{username}}" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Blog Title</label>
              <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Write Your Blog</label>
              <input type="text" class="form-control" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>

            <a href="/dashboard/{{username}}" type="button" class="btn btn-dark">Back</a>
          </form>
    </div>

    <div class="container my-5">
        <h2>Your Blogs</h2>
        {% if allTodo|length == 0 %}
        <div class="alert alert-primary" role="alert">
           NO RECORD
          </div>
                        
                    {% else %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">sno</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              {% for todo in allTodo %}
              {%if todo.user == username%}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <!-- <td>{{todo.desc}}</td> -->
                <td>{{todo.date_created}}</td>
                <td><a href="/update/{{todo.sno}}/{{username}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button></td>
                <td><a href="/delete/{{todo.sno}}/{{username}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button></td>
                <td><a href="/view/{{todo.sno}}/{{username}}" type="button" class="btn btn-outline-dark btn-sm mx-1">View Blog</button></td>
              </tr>
              {% endif %}
              {% endfor %}
              
            </tbody>
          </table>
          {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
{% endblock body %}